<a href="https://colab.research.google.com/github/kankot2020/-_-_Notebooks/blob/main/%E8%8C%B6%E7%B1%B3_22_0725_%E6%B4%BE%E6%A3%AE%E5%9F%BA%E7%A4%8E%E5%85%A5%E9%96%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown語法教學

---


## 標題二
### 標題三

這是內文*CTRL+C*這是內文**CTRL+V**這是內文這是內文***CTRL+X***這是內文`ESC`這是內文這是內文這是內文這是內文

這是內文這是內文[這是內文](https://www.google.com)這是內文這是內文這是內文這是內文這是內文

---

1. 編號1：這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文
2. 編號2
3. 編號3

* 項目一：這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文
* 項目二
* 項目三

>小技巧  
小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧小技巧

```Python
print("Hello Kitty")
print("123")
print("Hello Kitty")
print("123")
print("Hello Kitty")
print("123")
```
    print("Hello Kitty")
    print("123")
    print("Hello Kitty")

https://www.google.com

[Google官網](https://www.google.com)

![Google官網](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)

[![Google官網](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)](https://www.google.com "Google官網")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# 新增區段

# 一、變數與資料型態

In [ ]:
# 變數的宣告與輸出
x, y = 0, 1
a = b = c = 0
name, age = "David", 18
print(x, y, a, b, c, name, age)

In [ ]:
# 變數的資料型態: int, float, str, bool
# type() 檢視變數的資料型態
x, pi, name, isMarry = 1, 3.14159, "David", True
print(x, pi, name, isMarry)
print(type(x), type(pi), type(name), type(isMarry))
# 資料型別的轉換: int(), float(), str(), bool(), eval()

# 二、輸出與輸入

### 輸出：print()

In [ ]:
# print() 參數
# sep 間隔符號 → 預設值為 ' '
# end 結束符號 → 預設值為 '\n'
print(1, 2, 3, 3.14, 'David', True)
print(1, 2, 3, 4, 5, sep="◆")
print(1, 2, 3, 4, 5, sep="◆", end='〇')
print(1, 2, 3, 4, 5, end='\n')
print(5, 4, 3, 2, 1, end='\n')

1 2 3 3.14 David True
1◆2◆3◆4◆5
1◆2◆3◆4◆5〇1 2 3 4 5
5 4 3 2 1

In [ ]:
# print()參數格式化: %
# print("王小明考了80分")
# print("%s考了%d分" % ("李小美", 90))
print("A_%s考%d分" %("王小明", 80))
print("B_%5s考%3d分" %("王小明", 80))
print("C_%-5s考%-3d分" %("王小明", 80))
print("D_圓周率%.4f" %(3.1415926))

In [ ]:
# print()參數格式化: format()
# print("考了{1}分的人是{0}".format("王小明", 80))
# print("考了{1}分的人是{0},真的是{0}啊!".format("王小明", 80))
print("A_王小明考了80分")
print("B_{}考了{}分".format("王小明", 80))

# ◆◆◆ 「: 之前是索引」,「: 之後是格式」
# ◆◆◆ 「> 靠右對齊」,「< 靠左對齊」,「^ 置中對齊」
print("C_{0:5}考了{1:3}分".format("王小明", 80))
print("D_{0:>5}考了{1:<3}分".format("王小明", 80))
print("E_{0:^5}考了{1:<3}分".format("王小明", 80))
print("F_圓周率是{:.2f}".format(3.14159))

In [ ]:
# f-strings
name, score, score2 = '王小明', 80, 100
print(name + "考了" + str(score) + "分")
print(f"{name:5}考了{score:3}分")
print(f"{name:5}考了{score:03}分") # 補零
print(f"{name:5}考了{score2:03}分")
print(f"{name:^5}考了{score:<3}分")
print(f"{name:◆^5}考了{score2:<3}分") # 補符號

x, y = 2, 5
print(f"{x} X {y} = {x * y}")

In [ ]:
print(f"{name:x^5}考了{score:03}分")

## 輸入：input()

In [ ]:
score = input("輸入國文成績:")
print("國文成績是:{}".format(score))
print(f"國文成績是:{score}")

In [ ]:
score1, score2 = input("輸入國文成績:"), input("輸入英文成績:")
print("總分:{}".format(score1 + score2)) # 字串 + 字串 = 字串 → '100' + '90' = '10090'

In [ ]:
score1, score2 = int(input("輸入國文成績:")), int(input("輸入英文成績:"))
print("總分:{}".format(score1 + score2))

## 註解

In [ ]:
# 註解符號快速鍵 Ctrl + /

# 單行註解

# 多行註解
# 多行註解

example = """
多行註解
多行註解多行註解多行註解多行註解多行註解
多行註解多行註解多行註解多行註解多行註解多行註解
"""

In [ ]:
example

# 三、運算子

## 算術運算子 

* %(求餘數) //(求商數) **(求指數)
* / slash 稱為斜線。
* \ backslash 稱為反斜線。

In [ ]:
x, y = 5, 2
print(x + y, x - y, x * y, x / y)
print(x % y, x // y, x ** y)

## 比較運算子 
==, !=, >, >=, <, <=

In [ ]:
x, y = 5, 2
x == y

False

## 邏輯運算子
and, or, not

In [ ]:
x, y = 5, 2
print( (x == y) and (x > y) )
print( (x == y) or (x > y) )
print( not (x == y) )

False
True
True

## 複和指定運算子 
+=, -=

In [ ]:
x = 1
x = x + 1
print(x)
x = x - 1
print(x)

2
1

## 範例：溫度轉換器

華氏 = 1.8 X 攝氏 + 32

In [ ]:
C = float(input("輸入攝氏溫度:"))
F = 1.8 * C + 32
print("攝氏{1}度等於華氏{0}度".format(F, C))
print(f"攝氏{C}度等於華氏{F}度")
print(f"攝氏{C}度等於華氏{F}度")

輸入攝氏溫度:40
攝氏40度等於華氏104.0度
攝氏40度等於華氏104.0度

## 範例：BMI計算機

$BMI = 體重(kg) / 身高(m) ^ 2$

In [ ]:
height = int(input("輸入身高(cm):"))
weight = int(input("輸入體重(kg):"))
bmi = weight / (height / 100) ** 2
print("身高{}公分, 體重{}公斤, BMI值為{:.2f}".format(height, weight, bmi))

輸入身高(cm):168
輸入體重(kg):60
身高168公分, 體重60公斤, BMI值為21.26
身高168公分, 體重60公斤, 身體質量指數21.259

# 四、判斷式

In [ ]:
# 雙向判斷式
score = int(input("輸入成績:"))
if score >= 60:
    print("及格")
else:
    print("當掉")

輸入成績:58
當掉

In [ ]:
# 多向判斷式：
score = int(input("輸入成績:"))
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("Fail")

輸入成績:22
Fail

In [ ]:
# 判斷輸入值是否為整數
# 1. 輸入值變整數。與原輸入值相減等於 0 則為整數。
# 2. abs(x) == x

# num = eval(input())
# num2 = int(num)
# if (num - num2) != 0: 
#     print("NO")
# else: 
#     print("YES")

n = input("輸入整數：")
print(f"輸入的內容是否是整數？{n.isdigit()}")

輸入整數：99
輸入的內容是否是整數？True

In [ ]:
# 判斷奇偶數
n = int(input("輸入正整數:"))
if n % 2 == 0:
    print(f"{n}:偶數")
else:
    print(f"{n}:奇數")

輸入正整數:660
660:偶數

In [ ]:
# 判斷閏年(多向判斷式)
year = int(input("輸入西元年:"))
if year % 100 == 0 and year % 400 == 0:
    result = f"西元{year}年是閏年"
elif year % 100 != 0 and year % 4 == 0:
    result = f"西元{year}年是閏年"
else:
    result = f"西元{year}年不是閏年！"
print(result)

輸入西元年:2040
西元2040年是閏年

# 五、自訂函式

In [ ]:
# 自訂函式基本格式
def sayHello():
    print("Hello")

sayHello()
sayHello()

In [ ]:
# 自訂函式：參數的使用
def sayHello(name):
    print("Hello, {}.".format(name))

sayHello("David")
sayHello("Lily")

In [ ]:
# 自訂函式：回傳值
def sayHello(name):
    msg = "Hello, {}.".format(name)
    return msg

msg = sayHello("Lily")

In [ ]:
print(msg)

In [ ]:
# 計算面積自訂函式
# getArea(), 參數 w, h, 回傳值 area
# 我有二塊地，一塊是寬5,高4，一塊是寬10，高5, 請計算總面積

def getArea(w, h):
    area = w * h
    return area

area1 = getArea(5, 4)
area2 = getArea(10, 5)
print("我家的地總面積是 {}".format(area1 + area2))

In [ ]:
# 自訂函式 tctotf(), 參數 tc
# TF = TC * (9 / 5) + 32

def tctotf(TC):
    TF = TC * (9 / 5) + 32
    return TF

TC = float(input("請輸入攝氏溫度："))
print("攝氏{}度等於華氏{}度".format(TC, tctotf(TC)))

In [ ]:
# 自訂函式：getBMI()，參數 h, w
# bmi值 <= 18.5，加訊息 你太瘦了，多吃一點。
# bmi值 > 24，加訊息 你太胖了，少吃一點。
# bmi值在這之間，加訊息 恭禧你，身材標準。

def getBMI(h, w):
    bmi = w / (h / 100) ** 2
    return bmi

h = int(input("請輸入你的身高(cm)："))
w = int(input("請輸入你的體重(kg)："))
bmi = getBMI(h, w)
print("身高{}公分，體重{}公斤，BMI值為{:.2f}".format(h, w , bmi))
if bmi <= 18.5:
    print("你太瘦了，多吃一點。")
elif bmi > 24:
    print("你太胖了，少吃一點。")
else:
    print("恭禧你，身材標準。")

# 六、串列與整數串列

## 串列

In [ ]:
# 宣告串列的方式
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = ["Apple", "Banana", "Cherry"]
list3 = ["David", 180, 80, 24.61, True]

# 查詢資料型別
# type(list1)
# type(list2)
# type(list3)

In [ ]:
# 串列取值-使用索引值
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 取出單一的元素值 格式：串列[索引值]
list1[2]
list1[5]

# 取出範圍元素值
# 格式：串列[起始索引：終止索引]
list1[2:5]  # 3, 4, 5
list1[5:8]  # 6, 7, 8

# 取出範圍元素值,有間隔
# 格式：串列[起始索引:終止索引:間隔值]
list1[0:9:2]
list1[1:9:2]

# 取出特定範圍值
# 取出所有的值
list1[0:9]
list1[:]
# 取出前幾名的值
list1[0:3]
list1[:3]
# 取出後幾名的值
list1[4:9]
list1[4:]

# 取出最後一個值
len(list1) #計算串列的元素值的數量
list1[len(list1)-1]
list1[-1]
list1[-4]
list1[-3:]
list1[-5:]

# 將串列倒序取出
list1[::-1]
list1[::-2]

In [ ]:
str1 = 'abcdefg'
addr1 = '台北市大同區忠孝東路一段100號'
food = 'milk'

str1[2]
str1[2:5]
addr1[0:3]
addr1[:3]
addr1[:6]
food[::-1]

## 整數串列 range()

In [ ]:
# 整數串列宣告
# range([起始索引, ]終止索引[, 間隔值])

list(range(5))
list(range(1, 10))
list(range(1, 10, 2))
list(range(2, 10, 2))
list(range(9, 0, -1))
list(range(9, -1, -1))

# 七、迴圈

## for 迴圈

### for list

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry']
for fruit in fruits:
    # print(fruit)
    print(fruit, end=',')

In [ ]:
# 用 for list 迴圈計算 1 加到 10
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
    total = total + i
print(total)

In [ ]:
# 用 for list 迴圈計算 1 到 10 的偶數相加
list1=[1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1[1::2]:
    total = total + i
print(total)

In [ ]:
# 用 for list 迴圈計算 1 到 10 之間 3 的倍數, 而且是奇數值的加總
list1=[1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
    if i % 3 == 0:
        if i % 2 != 0:
            total = total + i
print(total)

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
    if i % 3 == 0 and i % 2 != 0:
        total = total + i
print(total)

### for range

In [ ]:
# 用 for range 迴圈計算 1 加到 10
total = 0
for i in range(1, 11):
    total = total + i
print(total)

In [ ]:
# 用 for range 迴圈計算 1 到 10 之間的偶數和
total = 0
for i in range(2, 11, 2):
    total = total + i
print(total)

In [ ]:
# 用 for range 迴圈計算 1 到 1000 之間 3 的倍數, 而且是奇數值的加總
total = 0
for i in range(1, 1001):
    if i % 3 == 0 and i % 2 != 0:
        total = total + i
print(total)

In [ ]:
# 用 for range 迴圈將所有水果名印出
fruits = ['Apple', 'Banana', 'Cherry']
for i in range(len(fruits)):
    print(fruits[i])

In [ ]:
animals = "鼠牛虎兔龍蛇馬羊猴雞狗豬"
# animals[:5]

# for animal in animals:
#     print(animal, end='')

# for i in range(0, 5):
#     print(animals[i], end='')

## while 迴圈

In [ ]:
# 用 while 迴圈計算 1 到 10 加總
i = 1
total = 0
while i <= 10 :
    total = total + i
    i = i + 1
print(total)

In [ ]:
# 用 while 迴圈計算 1 到 10 偶數加總
i = 1
total = 0
while i <= 10:
    if i % 2 == 0:
        total = total + i
    i = i + 1
print(total)

In [ ]:
# 用 while 迴圈計算 1 到 1000 之間 3 的倍數, 而且是奇數值的加總
i = 1
total = 0
while i <= 1000:
    if i % 3 == 0 and i % 2 !=0:
        total = total + i
    i = i + 1
print(total)

## break, continue

In [ ]:
# break 跳出迴圈
for i in range(1, 11):
    if i == 4:
        break
    print(i, end=',')

In [ ]:
# continue 跳過迴圈
for i in range(1, 11):
    if i == 4:
        continue
    print(i, end=',')

In [ ]:
# 九九乘法表(一)
for i in range(2, 10):
    for j in range(2, 10):
        print("{} * {} = {:02}".format(i, j, i*j))
    print('-' * 10)

In [ ]:
# 九九乘法表(二)
for i in range(2, 10):
    for j in range(2, 10):
        print("{}*{}={:02}".format(i, j, i*j), end="  ")
    print()

```
*
***
*****
*******
*********
```

In [ ]:
stars = """
*
***
*****
*******
*********
"""
print(stars)

In [ ]:
# list(range(1, 10, 2))
for i in range(1, 10, 2):
    print(i * '*')

In [ ]:
for i in range(1, 10, 2):
    print((9-i) * ' ', end='')
    print(i * '*')

In [ ]:
for i in range(1, 10, 2):
    print(int((9-i) / 2) * ' ', end='')
    print(i * '*')

In [ ]:
for i in range(1, 10, 2):
    print("{:9}".format(i * '*'))

for i in range(1, 10, 2):
    print("{:>9}".format(i * '*'))    

for i in range(1, 10, 2):
    print("{:^9}".format(i * '*'))